# A level-1 heading

## A Level-2 Heading

* this is a bullet list
* fun!!
* you need to indicate above that it's Markdown, not code

1. Get funding.
2. Do work.
    * Design experiment.
    * Collect data.
    * Analyze.
3. Write up.
4. Publish.

In [12]:
7*3
2+1

3

x = 6 * 7 + 12
print(x)

In [14]:
x = 6 * 7 + 12
print(x)

54

$\sum_{i=1}^{N} 2^{-i} \approx 1$

In [16]:
age = 42
first_name = 'Ahmed'

In [17]:
print(first_name, 'is', age, 'years old')

Ahmed is 42 years old

In [18]:
print(last_name)

NameError: name 'last_name' is not defined

In [20]:
myval = 1
print(myval)

1

In [21]:
age = age+3
print('Age in three years:', age)

Age in three years: 45

## Indexing

In [23]:
atom_name = 'helium'
print(atom_name[0])

h

## Slice

In [25]:
atom_name = 'sodium'
print(atom_name[0:3])

sod

In [26]:
print(len('helium'))

6

x = 1.0:  x = 1.0, y = null, swap = null

y = 3.0:  x = 1.0, y = 3.0, swap = null

swap = x: x = 1.0, y = 3.0, swap = 1.0

x = y   : x = 3.0, y = 3.0, swap = 1.0

y = swap: x = 3.0, y = 1.0, swap = 1.0

In [27]:
thing[low:high]

NameError: name 'thing' is not defined

In [28]:
atom_name = 'carbon'
print('atom_name[1:4] is', atom_name[1:4])

atom_name[1:4] is arb

In [30]:
print(type(52))

<class 'int'>

In [31]:
fitness = 'average'
print(type(fitness))

<class 'str'>

In [32]:
print (5-3)

2

In [33]:
5-3

2

In [34]:
print('hello' - 'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [35]:
full_name = 'Ahmed' + ' ' + 'Walsh'

In [36]:
full_name

'Ahmed Walsh'

In [37]:
separator = '=' *10
print(separator)

==========

In [39]:
print(len(full_name))

11

In [41]:
#numbers don't have length
print(len(52))

TypeError: object of type 'int' has no len()

In [44]:
#cannot add numbers and strings
print(1 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
#some types can be converted to other types
print(1+int('2')) # adding two integers
print(str(1)+'2') # combining strings together 1 and 2

3
12

In [47]:
print('half is', 1 / 2.0)
print('three squared is', 3.0 ** 2)

half is 0.5
three squared is 9.0

In [48]:
first = 1
second = 5 * first
first = 2
print('first is', first, 'and second is', second)

first is 2 and second is 5

In [49]:
type(3.4)

float

In [50]:
print(type(3.25+4))

<class 'float'>

1. int
2. float
3. int (character!)
4. float (integer or string)
5. int 
6. float

In [51]:
#// performs integer division
print('5 // 3:', 5//3) #// performs integer division
print('5/3:', 5/3)
print('5%3:', 5%3)

5 // 3: 1
5/3: 1.6666666666666667
5%3: 2

In [54]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

string to float: 3.4
float to int: 3

In [55]:
print("fractional string to int:", int("3.4"))

ValueError: invalid literal for int() with base 10: '3.4'

In [56]:
first = 1.0
second = "1"
third = "1.1"

In [57]:
first + float(second)

2.0

In [58]:
float(second) + float(third)

2.1

In [59]:
first + int(third)

ValueError: invalid literal for int() with base 10: '1.1'

In [60]:
first + int(float(third))

2.0

In [61]:
int(float("3.4"))

3

In [62]:
int(first) + int(float(third))

2

In [63]:
2.0 * second

TypeError: can't multiply sequence by non-int of type 'float'

In [64]:
print('before')

before

In [67]:
x=1.0
y=3.0
swap=x
x=5.0
print(swap)
y=swap

1.0

In [69]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [70]:
?round

In [71]:
result = print('example')
print('result of print is', result)

example
result of print is None

In [72]:
result = print('example')
print('result of print is', print(result))

example
None
result of print is None

In [73]:
result = print('example')
print('result of print is', "result")

example
result of print is result